[Unit]
Description=ms_layout service
After=network.target

[Service]
User=root
ExecStart=EXEC_START
Restart=always
RestartSec=10
Environment="LOG_PATH=PWD"
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
